<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/app_safeNT/css/styles.css">
    <title>Safe NT</title>
</head>

<body>
    <header class="header">
        <div class="logo">Safe NT</div>
        <div class="contact"><a href="#">Contact</a></div>
    </header>

    <main>
        <h2 class="main-heading">Services We Provide</h2>
            <div class="search-container">
                <input type="text" placeholder="Search" class="search-input">
                <i class="search-icon">🔍</i>
            </div>
            <div class="auth-links">
                <a href="login.html">Login</a>
                 <a href="signup.html">Sign Up</a>
            </div>
    </main>

    <footer>
        <div class="footer-logo">
            <img src="static/app_safeNT/images/NTlogo.jpg" alt="Northern Territory Government Logo">
        </div>
        <p class="footer-text">©2024 Safe NT</p>
    </footer>

    <script src="static/app_safeNT/js/script.js"></script>
</body>

</html>
