{% extends 'accounts/base.html' %}

{% block content %}
<div class="bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-2xl mx-auto flex flex-col items-center justify-center space-y-8">
        <h1 class="text-3xl font-semibold text-gray-900">
            Your Account is Awaiting Approval
        </h1>
        
        <p class="text-lg text-gray-600 text-center">
            Thank you for registering on SafeNT! Please wait for an administrator to approve your account. 
            You’ll receive a notification once your account is activated.
        </p>
        
       
    </div>
</div>
{% endblock %}
