/* Ensure the entire document takes up full height */
html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    background-color: #f6f1f1;
    margin: 0;
    padding: 0;
    color: #ffffff;
}

/* Main container, grows to take available space */
main {
    flex: 1;
}

/* Footer stays at the bottom */
footer {
    background-color: #ffffff;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    font-size: 16px;
}

.footer-text {
    color: black;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #6610F2;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}

.contact a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.contact a:hover {
    color: #FD7E14;
}

.main-heading {
    text-align: center;
    margin-top: 100px;
    color: #000000;
    font-size: 28px;
    font-weight: bold;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    position: relative;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.search-auth-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
}

.auth-links {
    text-align: right;
}

.auth-links a {
    color: #6610F2;
    text-decoration: none;
    margin-left: 10px;
    transition: color 0.3s;
}

.auth-links a:hover {
    color: #FD7E14;
}


.search-input {
    width: 100%;
    padding: 10px 40px 10px 15px;
    border: 2px solid #000000;
    border-radius: 20px;
    outline: none;
    font-size: 16px;
}

.search-button {
    padding: 11px;
    border: none;
    border-radius: 0 20px 20px 0;
    background-color: #FD7E14;
}

.auth-links {
    text-align: center;
    margin-top: 20px;
}

.auth-links a {
    color: #6610F2;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s;
}

.auth-links a:hover {
    color: #FD7E14;
}
